
	<% @blogs.each do |blog| %>
        <div class="blog-item clearfix">
          <div class="blog-image"><%= image_tag('img/forest.jpg',  class: 'blog-image') %></div>
          <section class="blog-text">
            <h3 class="blog-text-headline"><%= link_to blog.title, blog_path(blog) %></h3>
            <p class="blog-date"><%= blog.created_at %></p>
            <span class="category"><%= blog.category %></span>
          </section>
        </div>
      <% end %>



      blogs_controller.rb

      @blogs = Blog.all